<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <jcms:site:seotitle/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta name="description" content="Aarya Hotel & Spa">
    <meta name="keywords" content="hotel, resort, Spa">
    <meta name="robots" content="index, follow"> -->
    <!-- for open graph social media -->
    <!-- <meta property="og:title" content="Hotel and Resort">
    <meta property="og:description" content="Aarya Hotel & Spa"> -->
    <!-- for twitter sharing -->
    <!-- <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hotel and Resort">
    <meta name="twitter:description" content="Aarya Hotel & Spa"> -->
    <!-- favicon -->
    <!-- <link rel="icon" href="assets/images/favicon.png" type="image/x-icon"> -->
     <jcms:site:favicon/>
    <!-- title -->
     <title>Aarya Hotel & Spa - Traditional Charm with Modern Comfort</title>

    <!-- google fonts -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap" rel="stylesheet"> -->
    <!-- icon font from flaticon -->
    <link rel="stylesheet" href="assets/fonts/flaticon_bokinn.css">
    <!-- all plugin css -->
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <!-- main style custom css -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- header area -->
    <jcms:module:header/>
    <!-- header area end -->

    <!-- page header -->
    <div class="rts__section page__hero__height page__hero__bg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="page__hero__content mt-120 pt-30">
                        <h3 class="wow fadeInUp">Contact Us</h3>
                        <p class="px-5 max-750" style="color: #744920de;margin: auto;">Seeking an authentic experience in the heart of Kathmandu’s most popular tourist destination, thamel? We are available 24/7. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page header end -->

    <!-- contact area -->
    <jcms:module:contact-us/>
    <!-- contact area end -->

    <!-- footer style one -->
    <jcms:module:footer/>
    <!-- footer style one end -->

    <!-- offcanvase menu -->
    <jcms:module:off-canvas-menu/>
    <!-- offcanvase menu end -->

    <!-- back to top -->
    <button type="button" class="rts__back__top" id="rts-back-to-top">
        <svg width="20" height="20" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.30201 1.51317L7.29917 21.3422C7.29912 21.7057 6.97211 21.9993 6.5674 21.9993C6.16269 21.9992 5.83577 21.7055 5.83582 21.342L5.83844 3.10055L1.39753 7.08842C1.11169 7.34511 0.647535 7.34506 0.361762 7.0883C0.0759894 6.83155 0.0760493 6.41464 0.361896 6.15795L6.05367 1.04682C6.26405 0.857899 6.5773 0.802482 6.85167 0.905201C7.12374 1.00792 7.30205 1.24823 7.30201 1.51317Z" fill="#FFF" />
            <path d="M12.9991 6.6318C12.9991 6.80021 12.9282 6.96861 12.7841 7.09592C12.4983 7.35261 12.0341 7.35256 11.7483 7.0958L6.05118 1.97719C5.76541 1.72043 5.76547 1.30352 6.05131 1.04684C6.33716 0.790152 6.80131 0.790206 7.08709 1.04696L12.7842 6.16557C12.9283 6.29498 12.9991 6.46339 12.9991 6.6318Z" fill="#FFF" />
        </svg>
    </button>
    <!-- back to top end -->

    <!-- plugin js -->
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/gdpr.js"></script>
    <!-- custom js -->
    <script src="assets/js/main.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#frm_contact').validate({
                errorElement: 'span',
                errorClass: 'validate-has-error',
                rules: {
                    name: {required: true},
                    email: {required: true, email: true},
                    address: {required: true},
                    phone: {required: true},
                    message: {required: true}
                },
                messages: {
                    name: {required: "This field is required"},
                    email: {required: "This field is required"},
                    address: {required: "This field is required"},
                    phone: {required: "This field is required"},
                    message: {required: "This field is required"}
                },
                submitHandler: function (form) {
                    var Frmval = $("form#frm_contact").serialize();
                    $("button#submit").attr("disabled", "true").html('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: "enquery_mail.php",
                        data: "action=forcoment&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            $("button#submit").removeAttr("disabled").html('Send Message');
                            $('div#result_msg').html(msg.message).css('display', 'block').fadeOut(8000);
                            $("form#frm_contact")[0].reset();
                        }
                    });
                    return false;
                }
            })
        });
    </script>
</body>
</html>