<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <jcms:site:seotitle/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta name="description" content="Aarya Hotel & Spa">
    <meta name="keywords" content="hotel, resort, Spa">
    <meta name="robots" content="index, follow"> -->
    <!-- for open graph social media -->
    <!-- <meta property="og:title" content="Hotel and Resort">
    <meta property="og:description" content="Aarya Hotel & Spa"> -->
    <!-- for twitter sharing -->
    <!-- <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hotel and Resort">
    <meta name="twitter:description" content="Aarya Hotel & Spa"> -->
    <!-- favicon -->
    <!-- <link rel="icon" href="assets/images/favicon.png" type="image/x-icon"> -->
     <jcms:site:favicon/>
    <!-- title -->
     <title>Aarya Hotel & Spa - Traditional Charm with Modern Comfort</title>

    <!-- google fonts -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap" rel="stylesheet"> -->
    <!-- icon font from flaticon -->
    <link rel="stylesheet" href="assets/fonts/flaticon_bokinn.css">
    <!-- all plugin css -->
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <!-- main style custom css -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- header area -->
    <jcms:module:header/>
    <!-- header area end -->

    <!-- banner area -->
    <jcms:module:sub-package-banner/>
    <!-- banner area end -->

    <!-- room details area -->
    <jcms:module:sub-package-detail/>
    <!-- room details area end -->

    <jcms:module:sub-package-booking/>

    <jcms:module:similar-rooms/>
    <!-- similar room area -->
    <!-- similar room area end -->

    <!-- footer style one -->
    <jcms:module:footer/>
    <!-- footer style one end -->

    <!-- offcanvase menu -->
    <jcms:module:off-canvas-menu/>
    <!-- offcanvase menu end -->

    <!-- back to top -->
    <button type="button" class="rts__back__top" id="rts-back-to-top">
        <svg width="20" height="20" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.30201 1.51317L7.29917 21.3422C7.29912 21.7057 6.97211 21.9993 6.5674 21.9993C6.16269 21.9992 5.83577 21.7055 5.83582 21.342L5.83844 3.10055L1.39753 7.08842C1.11169 7.34511 0.647535 7.34506 0.361762 7.0883C0.0759894 6.83155 0.0760493 6.41464 0.361896 6.15795L6.05367 1.04682C6.26405 0.857899 6.5773 0.802482 6.85167 0.905201C7.12374 1.00792 7.30205 1.24823 7.30201 1.51317Z" fill="#FFF" />
            <path d="M12.9991 6.6318C12.9991 6.80021 12.9282 6.96861 12.7841 7.09592C12.4983 7.35261 12.0341 7.35256 11.7483 7.0958L6.05118 1.97719C5.76541 1.72043 5.76547 1.30352 6.05131 1.04684C6.33716 0.790152 6.80131 0.790206 7.08709 1.04696L12.7842 6.16557C12.9283 6.29498 12.9991 6.46339 12.9991 6.6318Z" fill="#FFF" />
        </svg>
    </button>
    <!-- back to top end -->

    <!-- plugin js -->
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/gdpr.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <!-- custom js -->
    <script src="assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            var today = new Date();
            today.setDate(today.getDate() + 1); // Add one day

            $("#event_date").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: 1, // 1 day from today
            }).datepicker("setDate", today);

            var base_url = jQuery('base').attr('url');
            $('#hallFrm').validate({
                errorElement: 'span',
                errorClass: 'text-danger',
                rules: {
                    name: {required: true},
                    email: {required: true, email: true},
                    phone: {required: true},
                    event_name: {required: true},
                    event_date: {required: true},
                    pax: {required: true},
                    message: {required: true}
                },
                messages: {
                    name: {required: "Full Name is required!"},
                    email: {required: "Email is required!", email: "Please provide valid email address!"},
                    phone: {required: "Mobile No. is required!"},
                    event_name: {required: "Event Name is required!"},
                    event_date: {required: "Event Date is required!"},
                    pax: {required: "No. of Pax is required!"},
                    message: {required: "Message is required!"}
                },
                errorPlacement: function (error, element) {
                    // Find the closest container around the element and insert the error outside it
                    var container = element.closest('.pr');
                    if (container.length) {
                        error.insertAfter(container); // Place error outside the container
                    } else {
                        error.insertAfter(element); // Default placement
                    }
                },
                submitHandler: function (form) {
                    var Frmval = $("form#hallFrm").serialize();
                    $("button#event-submit").attr("disabled", "true").html('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: base_url + "enquery_mail.php",
                        data: "action=forHallBooking&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            $("button#event-submit").removeAttr("disabled").html('<span>Send</span>');
                            $('div#result_msg').html(msg.message).css('display', 'block').fadeOut(8000);
                            $("form#hallFrm")[0].reset();
                        }
                    });
                    return false;
                }
            })
        });
    </script>
</body>
</html>